* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container img{
height: 100px;
 }  
.container{
    width: 70%;
    margin:0 auto;
}
table ,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
.container-main{
    background-color: rgba(245, 245, 245, 0.918);
    text-align: center;
    padding-bottom: 50px;
    padding-top: 15px;
}
th,td{
    padding: 8px;
}
table{
    margin-left: 270px;
    margin-top: 50px;
}
.footer{
    background-color: #1d3557;
    text-align: center;
    
}